<!-- Banner-->
<app-loading *ngIf="bannerLoading"></app-loading>
<div class="banner" *ngIf="featuredNews.length">
  <ngx-carousel class="banner__carousel" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
    <ngx-item NgxCarouselItem *ngFor="let banner of featuredNews; let i = index">
      <div class="banner__card" [lazy-load-images]="{ rootMargin: '50px' }">
        <div [routerLink]="['news', banner.id_link]" class="banner__img img-wrap img-gratio" [attr.data-background-src]="banner.image_path">
          <p class="banner__caption h__al">{{banner.title}}</p>
        </div>
      </div>
    </ngx-item>
    <button NgxCarouselPrev class="banner__prev">&lt;</button>
    <button NgxCarouselNext class="banner__next">&gt;</button>
  </ngx-carousel>
</div>
<!--// Banner-->

<!-- FEATURED-->
<div class="section" *ngIf="featured.length">
  <h1 class="section-title">Featured</h1>
  <div class="scrollList">
    <ul>
      <li *ngFor="let feature of featured">
        <div class="featured_card">
          <div class="image-list" [lazy-load-images]="{ rootMargin: '50px' }">
            <img attr.data-src="{{feature.image_path}}" alt="{{feature.title}}" title="{{feature.title}}">
            <div class="featured_card_container">
              <h4>
                <b>{{feature.title}}</b>
              </h4>
              <p>₹ {{feature.price}}
                <span class="h__fsize13">
                  ({{feature.price_text}})</span>
                <button class="btn btn-primary">{{feature.button}}</button>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--// FEATURED-->