<!--The content below is only a placeholder and can be replaced.-->
<header class="header js-headerMain">
  <div class="header__bar">
        <div class="header__hamburger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <a routerLink="/" class="header__logo img-wrap full-width">
            <img src="../assets/img/carandbike_logo.svg" alt="CarAndBike - An NDTV Venture"
             width="144" height="26" /></a>
  </div>
  <nav class="header__nav hr-scroll">
        <div class="scrollmenu">
            <a data-title="Cars" routerLink="new-cars">Cars</a>
            <a routerLink="bikes">Bikes</a>
            <a routerLink="news">News</a>
            <a routerLink="reviews">Reviews</a>
            <a routerLink="sell-cars" data-badge="New">Sell Car</a>
            <a routerLink="discuss">Discuss</a>
            <a routerLink="videos">Videos</a>  
            <a routerLink="shop">Shop</a>
            <a routerLink="elite">Elite</a>
            <a routerLink="photos">Photos</a>
            
        </div>
  </nav>
</header>
<router-outlet></router-outlet>
