<header class="header js-headerMain">
    <div class="header__bar">
        <button (click)="openNav()" class="header__btn header__hamburger btn" type="button">
            <span class="header__hamburger-line"></span>
            <span class="header__hamburger-line"></span>
            <span class="header__hamburger-line"></span>
        </button>
        <a routerLink="/" class="header__logo img-wrap full-width">
            <img src="../assets/img/carandbike_logo.svg?v=1_1" alt="CarAndBike.com" title="CarAndBike.com">
        </a>
        <div class="header__btnmain header__btngroup h__ml-auto">
            <button class="header__btnsec btn" (click)="goToUrl('https://auto.ndtv.com/auto-expo')" type="button">
                <span class="header__btnsecin">Auto Expo</span>
            </button>
            <button class="header__btn btn" type="button">
                <i class="header__btn-icon svg-icon">
                    <svg role="icon" title="location">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/icons-all.svg?v=1518612444#icon-location"></use>
                    </svg>
                </i>
            </button>
            <button class="header__btn btn" type="button">
                <i class="header__btn-icon svg-icon">
                    <svg role="icon" title="search">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/img/icons-all.svg?v=1518612444#icon-search"></use>
                    </svg>
                </i>
            </button>
        </div>
    </div>
</header>

<nav class="header__nav hr-scroll">
    <ul class="header__nav-ul hr-scroll__content">
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" data-title="Cars" routerLink="new-cars">Cars</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="bikes">Bikes</a>
        </li>

        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="news">News</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="reviews">Reviews</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="sell-cars" data-badge="New">Sell Car</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="discuss">Discuss</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="videos">Videos</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="shop">Shop</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="elite">Elite</a>
        </li>
        <li class="header__nav-li hr-scroll__item">
            <a class="header__nav-link" routerLink="photos">Photos</a>
        </li>
    </ul>
</nav>
<!-- Side panel -->
<div [style.width]="getOverlayWidth()" class="slide-panel">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="slide-panel-content">
        <a routerLink="new-cars">Cars</a>
        <a routerLink="news">News</a>
    </div>
</div>
<!-- End side panel -->

<router-outlet></router-outlet>
